body {
    background-image: url("../images/prism.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    color: #ffffff;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.8;
}

header .top {
    width: 960px;
    height: 74px;
    margin: 0 auto;
}

h1 {
    color: white;
    background-color: #4aaaa5;
    width: 257px;
    padding: 20px 20px;
    margin: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 35px;
    line-height: 1.05;
    font-weight: bold;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

a {
    text-decoration-line: none;
}

img {
    float: left;
    width: 350px;
    height: 270px;
    margin: 0px 35px 35px 0px;
}

.name {
    float: left;
}

.links {
    float: right;
    line-height: 77px;
}

.links a {
    padding: 20px 15px;
    text-decoration: none;
    color: gray;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0px;
    border-bottom: 0px;
    display: inline-block;
    line-height: 20px;
    transition: 0.4s;
    z-index: 0;
}

.links a:hover {
    background-color: #4aaaa5;
    transform: scale(1.2);
    color: #ffffff;
}

.content {
    width: 960px;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 6px;
    box-shadow: 10px 15px 15px 0px rgba(0, 0, 0, 0.5)
}

.content2 {
    padding-top: 20px;
    overflow: auto;
    position: relative;
}

h2 {
    font-size: 28px;
    margin-top: 0px;
    color: #4aaaa5;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.myPhoto {
    width: 250px;
    height: 250px;
    padding: 10px 20px 0px 0px;
}

p {
    color: #777777;
    background: white;
    font-size: 22px;
    line-height: 1.7;
}

.row {
    clear: both;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.row:hover {
    transform: scale(1.05);
    transition: 0.8s;
    opacity: 1;
}


.column {
    position: relative;
    float: left;
}

.content2 a {
    text-decoration: none;
}

.gameName {
    position: absolute;
    display: inline-block;
    background-color: #8aa5a4;
    padding: 23px;
    width: 304px;
    text-align: center;
    margin-top: 180px;
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: black;
    transition: 0.8s;
    opacity: 0.6;
}

.gameName:hover {
    color: #ffffff;
    background-color: #4aaaa5;
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 28px;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    height: 518px;
}

input {
    font-size: 10px;
    margin-top: 10px;
    width: 894px;
    height: 25px;
    border: 1px solid #dbdbdb;
}

.sect {
    margin-bottom: 20px;
}

textarea {
    margin-top: 10px;
    width: 894px;
    height: 255px;
    border: 1px solid #dbdbdb;
}

.submit {
    width: 90px;
    color: white;
    background-color: #4aaaa5;
    height: 30px;
    border-color: #4aaaa5;
    outline: none;
    opacity: 0.5;
    margin-left: 10px;
    transition: 0.2s;
    border-radius: 5px;
}

.submit:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 3px 7px 6px 0px rgba(0, 0, 0, 0.5);
}

.submit:active {
    background-color: #cefffd;
}

::placeholder {
    opacity: 0.5;
    padding: 10px;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -100px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-top: 8px solid #4aaaa5;
    background-color: gray;
    color: #ffffff;
    opacity: 0.4;
}