body {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    color: #ffffff;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header .top {
    width: 960px;
    height: 74px;
    margin: 0 auto;
}

h1 {
    color: white;
    background-color: #4aaaa5;
    width: 257px;
    padding: 20px 20px;
    margin: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 35px;
    line-height: 1.05;
    font-weight: bold;
}

a {
    text-decoration-line: none;
}

img {
    float: left;
    width: 350px;
    height: 270px;
    margin: 0px 35px 35px 0px;

}
.name {
    float: left;
}

.links {
    float: right;
    line-height: 77px;
}

.links > a {
    padding: 0px 15px;
    text-decoration: none;
    color: gray;
}

.links > a:hover {
    transition: 
}

.links a:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.content {
    width: 960px;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content2 {
    padding-top: 20px;
    overflow: auto;
    position: relative;
}

h2 {
    font-size: 28px;
    margin-top: 0px;
    color: #4aaaa5;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.myPhoto {
    width: 250px;
    height: 250px;
    padding: 10px 20px 0px 0px;
}

p {
    color: #777777;
    background: white;
    font-size: 22px;
    line-height: 1.7;
}

.row {
    position: relative;
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.content2 a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.content2 a:hover {
    opacity: 1;
    color: #ffffff;
}

.gameName {
    position: absolute;
    display: inline-block;
    background-color: #4aaaa5;
    padding: 23px;
    width: 304px;
    text-align: center;
    margin-top: 180px;
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    height: 500px;
}

input {
    font-size: 10px;
    margin-top: 10px;
    width: 894px;
    height: 25px;
    border: 1px solid #dbdbdb;
}

.sect {
    margin-bottom: 20px;
}

textarea {
    margin-top: 10px;
    width: 894px;
    height: 255px;
    border: 1px solid #dbdbdb;
}

.submit {
    width: 90px;
    color: white;
    background-color: #4aaaa5;
    height: 30px;
    border-color: #4aaaa5;
    outline: none;
}

.submit:active {
    background-color: #afe6e3;
    
}

::placeholder {
    opacity: 0.5;
    padding: 10px;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -100px;
    padding-top: 40px;
    border-top: 5px solid #4aaaa5;
    background-color: gray;
    color: #ffffff;
}